# {{ ansible_managed }}
# Configuratie SSH generata de rolul ssh_hardening. Nu edita manual.

Port {{ ssh_port }}

# --- Autentificare exclusiv cu cheie ---
PubkeyAuthentication {{ ssh_pubkey_auth }}
PasswordAuthentication {{ ssh_password_auth }}
ChallengeResponseAuthentication {{ ssh_challenge_response_auth }}
KbdInteractiveAuthentication no
PermitEmptyPasswords {{ ssh_permit_empty_passwords }}
AuthenticationMethods publickey

# --- Interzice conectarea directa ca root ---
PermitRootLogin {{ ssh_permit_root_login }}

# --- Limitarea utilizatorilor permisi ---
AllowUsers {{ ssh_allowed_users | join(' ') }}

# --- Intarire suplimentara ---
MaxAuthTries {{ ssh_max_auth_tries }}
ClientAliveInterval {{ ssh_client_alive_interval }}
ClientAliveCountMax {{ ssh_client_alive_count_max }}
X11Forwarding {{ ssh_x11_forwarding }}
IgnoreRhosts yes
HostbasedAuthentication no

Subsystem sftp /usr/lib/openssh/sftp-server
